# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FUNDAMENTALS_JAVA\_2_04_Exam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
